<h1>Log in to Movie Manager</h1>

<%= flash[:notice_check_details] %>

<form action="/log-in/new" method="post">
  <label for="email">Email</label>
  <input type="text" name="email">
  <label for="password">Password</label>
  <input type="text" name="password">
  <input type="submit" value="Log in">
</form>
