<h1>Sign up to Movie Manager</h1>

<form action="/sign-up/new" method="post">
  <label for="email">Email</label>
  <input type="text" name="email">
  <label for="password">Password</label>
  <input type="text" name="password">
  <input type="submit" value="Sign up">
</form>
